#partners{
    padding: 80px 0;
    .partner-card{
        height: 92px;
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
        transition: .2s;
        &:hover{
            box-shadow: 0px 0px 8px rgba($color: #000000, $alpha: .4);
        }
    }
    .owl-nav{
        display: flex;
        justify-content: space-between;
        button{
            width: 52px;
            height: 52px;
            border-radius: 5px;
            background-color: #fff !important;
            outline: none;
            >i{
                color: $orange;
            }
            &.disabled i{
                color: #91929A;
            }
        }
    }
}