#marketing-articles{
    width: 100%;
    padding: 80px 0;
    #m-articles-list{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .m-article{
            width: calc((100% - 60px)/3);
            .m-article-img{
                width: 100%;
                margin-bottom: 20px;
            }
            .m-article-header{
                @include font-style(22px, 500, 38px, $dark);
                margin-bottom: 25px;
            }
            .m-article-desc{
                margin-bottom: 20px;
            }
            .m-article-writter{
                width: 100%;
                display: flex;
                align-items: center;
                .m-article-writter-img{
                    width: 39px;
                    height: 40px;
                    margin-right: 14px;
                }
                .m-article-writter-name{
                    @include font-style(14px, 400, 19px, #7a7a7a);
                    margin-right: auto;
                }
            }
        }
    }
}