// Colors
$l-puple:#6C63FF;
$purple: #5F5982;
$orange: #F68C20;
$grey: #91929A;
$green: #43C8B1;
$red: #F56962;
$l-grey: #CAC6D4;
$dark: #302D3A;
$l-dark: #33333D;
$extra-l-grey: #EFEFF6;

// Backgroun-colors

$container: 1170px;